Facturas_LaSevillana.json
{
  "name": "[DEV] Facturas (Outlook) - La Sevillana — fixes",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Localiza el/los ZIP(s) entre los adjuntos de CADA correo.\n// Itera por correo (no fusiona) para preservar messageId y attachments por correo.\n\nconst ZIP_MIMES = new Set([\n  'application/zip',\n  'application/x-zip-compressed',\n  'application/x-zip',\n  'multipart/x-zip'\n]);\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const messageId = (item.json && item.json.id) || null;\n  const binary = item.binary || {};\n  const seen = [];\n  const zips = [];\n\n  for (const key of Object.keys(binary)) {\n    const b = binary[key];\n    const fileName = b.fileName || '';\n    const mimeType = (b.mimeType || '').toLowerCase();\n    const lowerName = fileName.toLowerCase();\n\n    seen.push({ binaryKey: key, fileName, mimeType, size: b.fileSize });\n\n    const isZipByExt  = lowerName.endsWith('.zip');\n    const isZipByMime = ZIP_MIMES.has(mimeType);\n    const isZipOctet  = mimeType === 'application/octet-stream' && isZipByExt;\n\n    if (isZipByExt || isZipByMime || isZipOctet) {\n      zips.push({ binaryKey: key, binaryData: b, fileName });\n    }\n  }\n\n  if (zips.length === 0) {\n    console.log('Correo sin ZIP, se omite. messageId=' + messageId + ' adjuntos=' + JSON.stringify(seen));\n    continue;\n  }\n\n  console.log('Correo ' + messageId + ': ' + zips.length + ' ZIP(s) de ' + seen.length + ' adjuntos. zips=' + JSON.stringify(zips.map(z => z.fileName)));\n\n  for (const z of zips) {\n    out.push({\n      json: {\n        messageId,\n        zipFileName: z.fileName,\n        totalAttachments: seen.length,\n        attachments: seen\n      },\n      binary: { data: z.binaryData }\n    });\n  }\n}\n\nreturn out;\n"
      },
      "id": "2042fd39-efd1-44fd-82b1-863e2a828f5b",
      "name": "Localizar ZIP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        208
      ]
    },
    {
      "parameters": {},
      "id": "cc7142fa-6e22-4e51-a375-054aeca4e42e",
      "name": "Extraer ZIP",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        880,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Para cada ZIP extraído, separa su PDF y su XML.\n// Itera por item para emitir UN output por ZIP — no colapsar.\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const seenFiles = [];\n  let pdfBinary = null;\n  let xmlBinary = null;\n\n  for (const key of Object.keys(item.binary || {})) {\n    const b = item.binary[key];\n    const fileName = (b.fileName || '').toLowerCase();\n    seenFiles.push({ binaryKey: key, fileName: b.fileName, mimeType: b.mimeType, size: b.fileSize });\n    if (fileName.endsWith('.pdf')) pdfBinary = b;\n    if (fileName.endsWith('.xml')) xmlBinary = b;\n  }\n\n  const messageId = (item.json && item.json.messageId) || null;\n  const zipFileName = (item.json && item.json.zipFileName) || null;\n\n  if (!xmlBinary) {\n    console.log('ZIP sin XML, omitido. messageId=' + messageId + ' zip=' + zipFileName + ' files=' + JSON.stringify(seenFiles));\n    continue;\n  }\n\n  out.push({\n    json: {\n      ok: true,\n      messageId,\n      zipFileName,\n      seenFiles\n    },\n    binary: {\n      ...(pdfBinary ? { pdf: pdfBinary } : {}),\n      xml: xmlBinary\n    }\n  });\n}\n\nreturn out;\n"
      },
      "id": "5bd4110e-4116-4bc8-a88e-ede2a601e2fb",
      "name": "Separar PDF/XML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Leer el XML completo (n8n Cloud almacena binarios grandes externamente)\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'xml');\nlet xml = buffer.toString('utf-8');\n\n// DIAN envía <AttachedDocument> con la factura real en un CDATA anidado.\nconst cdataRegex = /<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g;\nlet match;\nwhile ((match = cdataRegex.exec(xml)) !== null) {\n  if (match[1].includes('<Invoice')) { xml = match[1]; break; }\n}\n\n// Helpers con regex que requiere que el tag termine exactamente (no matchea cbc:IdentificationCode cuando buscamos cbc:ID).\nconst tagRegex = (tag) => new RegExp(`<${tag}(?:\\\\s[^>]*)?>([\\\\s\\\\S]*?)</${tag}>`, 'i');\nconst pick = (tag, src = xml) => {\n  const m = src.match(tagRegex(tag));\n  return m ? m[1].trim() : '';\n};\nconst blockOf = (tag, src = xml) => {\n  const m = src.match(tagRegex(tag));\n  return m ? m[1] : '';\n};\n\n// Campos directos de la Invoice\nconst invoiceNumber = pick('cbc:ID');\nconst issueDate     = pick('cbc:IssueDate');\nconst dueDate       = pick('cbc:PaymentDueDate');\n\n// Monto total\nconst totalsBlock = blockOf('cac:LegalMonetaryTotal');\nconst totalAmount = parseFloat(pick('cbc:PayableAmount', totalsBlock)) || 0;\n\n// Proveedor\nconst supplierBlock = blockOf('cac:AccountingSupplierParty');\nconst taxBlock = blockOf('cac:PartyTaxScheme', supplierBlock);\nconst legalBlock = blockOf('cac:PartyLegalEntity', supplierBlock);\nconst partyNameBlock = blockOf('cac:PartyName', supplierBlock);\n\nconst supplierNit = pick('cbc:CompanyID', taxBlock)\n                 || pick('cbc:CompanyID', legalBlock);\n\nlet supplierName = pick('cbc:RegistrationName', legalBlock)\n                || pick('cbc:RegistrationName', taxBlock)\n                || pick('cbc:Name', partyNameBlock);\n\nreturn [{\n  json: {\n    supplier_nit: String(supplierNit).trim(),\n    supplier_name: String(supplierName).trim(),\n    invoice_number: String(invoiceNumber).trim(),\n    total_amount: totalAmount,\n    issue_date: issueDate,\n    due_date: dueDate,\n    currency: 'COP',\n    email_message_id: $input.first().json.messageId || ''\n  },\n  binary: { pdf: $input.first().binary.pdf }\n}];"
      },
      "id": "15ca6721-69c4-4e69-b11b-76ef9771338c",
      "name": "Parsear XML DIAN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hbctaadebquqrjfofwzt.supabase.co/storage/v1/object/invoices/facturas/{{ $('Parsear XML DIAN').item.json.supplier_nit }}/{{ $('Parsear XML DIAN').item.json.invoice_number }}.pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiY3RhYWRlYnF1cXJqZm9md3p0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIxNDQyNSwiZXhwIjoyMDkxNzkwNDI1fQ.s6yjWYoz99hNZGa3f2XbUkPBgcgdk1dNG_s0ezMVExg"
            },
            {
              "name": "Content-Type",
              "value": "application/pdf"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "pdf",
        "options": {}
      },
      "id": "f23aeadd-a1c3-40f9-b504-9d7250a0402e",
      "name": "Subir PDF a Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1552,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "url": "=https://hbctaadebquqrjfofwzt.supabase.co/rest/v1/suppliers?nit=eq.{{ $('Parsear XML DIAN').item.json.supplier_nit }}&select=*,approval_rules(*,approvers(*))",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiY3RhYWRlYnF1cXJqZm9md3p0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIxNDQyNSwiZXhwIjoyMDkxNzkwNDI1fQ.s6yjWYoz99hNZGa3f2XbUkPBgcgdk1dNG_s0ezMVExg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiY3RhYWRlYnF1cXJqZm9md3p0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIxNDQyNSwiZXhwIjoyMDkxNzkwNDI1fQ.s6yjWYoz99hNZGa3f2XbUkPBgcgdk1dNG_s0ezMVExg"
            }
          ]
        },
        "options": {}
      },
      "id": "a8fa4e3f-dbda-4f26-95ad-88f9600dead6",
      "name": "Buscar Proveedor + Reglas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1776,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Si Buscar Proveedor + Reglas encontró al proveedor por NIT: pásalo tal cual.\n// Si NO (Supabase devolvió [] y con alwaysOutputData llega un item vacío):\n// sintetiza un supplier fallback para que el encargado por defecto reciba el email.\n\nconst DEFAULT_APPROVER = {\n  id: '88403ac2-63bb-4564-983c-5c4c6b7c324f',\n  name: 'Encargado (default)',\n  email: 'santy0218@gmail.com'\n};\n\nconst items = $input.all();\n\n// Un supplier válido tiene id (uuid). Cualquier otra forma (array vacío, objeto sin id,\n// item sintético de alwaysOutputData) se considera \"no encontrado\".\nconst found = items.find(i => {\n  const j = i && i.json;\n  if (!j) return false;\n  if (Array.isArray(j)) return j.length > 0 && j[0] && j[0].id;\n  return !!j.id;\n});\n\nif (found) {\n  const j = found.json;\n  const supplier = Array.isArray(j) ? j[0] : j;\n  return [{ json: supplier }];\n}\n\nconst parsed = $('Parsear XML DIAN').first().json;\n\nreturn [{\n  json: {\n    id: null,\n    nit: parsed.supplier_nit,\n    name: parsed.supplier_name || 'Proveedor sin registro',\n    required_approvals: 1,\n    is_fallback: true,\n    approval_rules: [{\n      id: null,\n      supplier_id: null,\n      approver_id: DEFAULT_APPROVER.id,\n      approval_order: 1,\n      approvers: DEFAULT_APPROVER\n    }]\n  }\n}];"
      },
      "id": "f6b30096-11c8-493e-bb8a-d9c200e8e6b3",
      "name": "Normalizar Proveedor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Modo: Run Once For Each Item.\nconst supplier = $('Normalizar Proveedor').item.json;\nconst parsed = $('Parsear XML DIAN').item.json;\n\nreturn {\n  json: {\n    supplier_id: supplier.id,\n    supplier_nit: parsed.supplier_nit,\n    supplier_name: parsed.supplier_name,\n    invoice_number: parsed.invoice_number,\n    total_amount: parseFloat(parsed.total_amount) || 0,\n    issue_date: parsed.issue_date || null,\n    due_date: parsed.due_date || null,\n    currency: 'COP',\n    required_approvals: parseInt(supplier.required_approvals) || 1,\n    pdf_storage_path: 'invoices/facturas/' + parsed.supplier_nit + '/' + parsed.invoice_number + '.pdf',\n    email_message_id: parsed.email_message_id || ''\n  }\n};\n"
      },
      "id": "c270bde9-edf0-4694-b631-88324bbd7389",
      "name": "Preparar Factura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hbctaadebquqrjfofwzt.supabase.co/rest/v1/invoices?on_conflict=supplier_id,invoice_number",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiY3RhYWRlYnF1cXJqZm9md3p0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIxNDQyNSwiZXhwIjoyMDkxNzkwNDI1fQ.s6yjWYoz99hNZGa3f2XbUkPBgcgdk1dNG_s0ezMVExg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiY3RhYWRlYnF1cXJqZm9md3p0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIxNDQyNSwiZXhwIjoyMDkxNzkwNDI1fQ.s6yjWYoz99hNZGa3f2XbUkPBgcgdk1dNG_s0ezMVExg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "40dafd5b-033a-4050-966a-d2b42829dbc5",
      "name": "Insertar Factura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2448,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "// Modo: Run Once For All Items.\n// Itera por cada factura entrante, pareando con Normalizar Proveedor\n// por índice (1:1 hasta este punto).\nconst crypto = require('crypto');\nconst out = [];\nconst invoiceItems = $input.all();\nconst supplierItems = $('Normalizar Proveedor').all();\n\nfor (let i = 0; i < invoiceItems.length; i++) {\n  const invoice = invoiceItems[i].json;\n  const supplier = (supplierItems[i] && supplierItems[i].json) || {};\n  const rules = supplier.approval_rules || [];\n  for (const rule of rules) {\n    out.push({\n      json: {\n        invoice_id: invoice.id,\n        approver_id: rule.approver_id,\n        approver: rule.approvers,\n        invoice,\n        token: crypto.randomBytes(32).toString('hex'),\n        status: 'pending'\n      },\n      pairedItem: { item: i }\n    });\n  }\n}\n\nreturn out;\n"
      },
      "id": "7a497dd2-12b4-4ff0-95c0-4e9dddfa22c7",
      "name": "Generar Aprobaciones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hbctaadebquqrjfofwzt.supabase.co/rest/v1/approvals?on_conflict=invoice_id,approver_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiY3RhYWRlYnF1cXJqZm9md3p0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIxNDQyNSwiZXhwIjoyMDkxNzkwNDI1fQ.s6yjWYoz99hNZGa3f2XbUkPBgcgdk1dNG_s0ezMVExg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiY3RhYWRlYnF1cXJqZm9md3p0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIxNDQyNSwiZXhwIjoyMDkxNzkwNDI1fQ.s6yjWYoz99hNZGa3f2XbUkPBgcgdk1dNG_s0ezMVExg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ invoice_id: $json.invoice_id, approver_id: $json.approver_id, token: $json.token }) }}",
        "options": {}
      },
      "id": "24f6b6c2-ded7-421e-9188-45072baa0398",
      "name": "Insertar Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2896,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "path": "fe32c8d6-5bac-4f85-ac71-b26ad8f9787f",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f061f1b2-156b-4474-a12d-455b0840839d",
      "name": "Webhook Aprobar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        528
      ],
      "webhookId": "32c777ff-f157-4c41-a2c1-7d123b9a6054",
      "onError": "continueRegularOutput",
      "notes": "GET /aprobar?token=...&action=approve|reject"
    },
    {
      "parameters": {
        "url": "=https://hbctaadebquqrjfofwzt.supabase.co/rest/v1/approvals?token=eq.{{ $json.query.token }}&select=*,invoices(*),approvers(name,email)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiY3RhYWRlYnF1cXJqZm9md3p0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIxNDQyNSwiZXhwIjoyMDkxNzkwNDI1fQ.s6yjWYoz99hNZGa3f2XbUkPBgcgdk1dNG_s0ezMVExg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiY3RhYWRlYnF1cXJqZm9md3p0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIxNDQyNSwiZXhwIjoyMDkxNzkwNDI1fQ.s6yjWYoz99hNZGa3f2XbUkPBgcgdk1dNG_s0ezMVExg"
            }
          ]
        },
        "options": {}
      },
      "id": "cf354604-894f-42e3-98f9-2838169086c2",
      "name": "Obtener Aprobación (Web)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        528
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7c31026c-e3f5-4a56-ba1c-0c095d6450a1",
      "name": "¿Sigue pendiente? (Web)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        528
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://hbctaadebquqrjfofwzt.supabase.co/rest/v1/approvals?token=eq.{{ $('Webhook Aprobar').item.json.query.token }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiY3RhYWRlYnF1cXJqZm9md3p0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIxNDQyNSwiZXhwIjoyMDkxNzkwNDI1fQ.s6yjWYoz99hNZGa3f2XbUkPBgcgdk1dNG_s0ezMVExg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiY3RhYWRlYnF1cXJqZm9md3p0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIxNDQyNSwiZXhwIjoyMDkxNzkwNDI1fQ.s6yjWYoz99hNZGa3f2XbUkPBgcgdk1dNG_s0ezMVExg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $('Webhook Aprobar').item.json.query.action === 'approve' ? 'approved' : 'rejected', approved_at: $now.toISO(), ip_address: $('Webhook Aprobar').item.json.headers['x-forwarded-for'] || 'unknown' }) }}",
        "options": {}
      },
      "id": "ab0a0487-35e4-46b0-9bd6-f05643229acf",
      "name": "PATCH Aprobación (Web)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        432
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<html><body style=\"font-family: Arial; text-align: center; padding: 50px;\"><h1>{{ $('Webhook Aprobar').item.json.query.action === 'approve' ? '✅ Factura Aprobada' : '❌ Factura Rechazada' }}</h1><p>Tu decisión ha sido registrada.</p></body></html>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "44bd001b-855a-4ca2-b30f-d4ae3ee34b7d",
      "name": "Respond OK (Web)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1104,
        432
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<html><body style=\"font-family: Arial; text-align: center; padding: 50px;\"><h1>⚠️ Esta aprobación ya fue procesada</h1><p>El enlace ya no es válido.</p></body></html>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "88ce62f3-eb21-42f0-af56-2ed5d6a11cc3",
      "name": "Respond Ya Procesada (Web)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf-service-7s1b.onrender.com/generate-final-pdf",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ invoice_id: $('Obtener Aprobación (Web)').item.json.invoices.id }) }}",
        "options": {}
      },
      "id": "c2bb8eac-dbb7-4a4c-80db-6be20aed038d",
      "name": "Disparar PDF Final (Web)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1328,
        432
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "hasAttachments": true
        },
        "options": {}
      },
      "id": "6dfc9835-0285-4faa-b9f3-f6dd417ee1d4",
      "name": "Outlook Trigger",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YmDSU0jXM1pnujOp",
          "name": "Microsoft Outlook OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "output": "raw",
        "options": {
          "attachmentsPrefix": "attachment_",
          "downloadAttachments": true
        }
      },
      "id": "6a3e9942-0218-4cc1-8c2a-dcc1d82c6239",
      "name": "Descargar Email con Adjuntos1",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        432,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "webhookId": "646657e5-dbd4-4616-b69e-41cf662b0282",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YmDSU0jXM1pnujOp",
          "name": "Microsoft Outlook OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Generar Aprobaciones').item.json.approver.email }}",
        "subject": "=🔔 Aprobación requerida: Factura {{ $('Generar Aprobaciones').item.json.invoice.invoice_number }} — {{ $('Generar Aprobaciones').item.json.invoice.supplier_name }}",
        "bodyContent": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\"><h2 style=\"color:#2563eb;\">Solicitud de Aprobación de Factura</h2><table style=\"width:100%;border-collapse:collapse;margin:20px 0;\"><tr><td style=\"padding:8px;border:1px solid #ddd;font-weight:bold;\">Proveedor</td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Generar Aprobaciones').item.json.invoice.supplier_name }} (NIT: {{ $('Generar Aprobaciones').item.json.invoice.supplier_nit }})</td></tr><tr><td style=\"padding:8px;border:1px solid #ddd;font-weight:bold;\">Factura N°</td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Generar Aprobaciones').item.json.invoice.invoice_number }}</td></tr><tr><td style=\"padding:8px;border:1px solid #ddd;font-weight:bold;\">Monto</td><td style=\"padding:8px;border:1px solid #ddd;\">${{ $('Generar Aprobaciones').item.json.invoice.total_amount }} COP</td></tr></table><div style=\"text-align:center;margin:20px 0;\"><a href=\"https://hbctaadebquqrjfofwzt.supabase.co/storage/v1/object/public/{{ $('Generar Aprobaciones').item.json.invoice.pdf_storage_path }}\" target=\"_blank\" style=\"display:inline-block;background:#f3f4f6;color:#1f2937;padding:10px 20px;text-decoration:none;border:1px solid #d1d5db;border-radius:8px;font-weight:bold;font-size:14px;\">📄 Ver PDF de la factura</a></div><div style=\"text-align:center;margin:20px 0 30px 0;font-size:0;\"><a href=\"https://santy0218.app.n8n.cloud/webhook/aprobar?token={{ $('Generar Aprobaciones').item.json.token }}&action=approve\" style=\"display:inline-block;background:#16a34a;color:#ffffff;padding:12px 24px;text-decoration:none;border-radius:8px;font-weight:bold;font-size:15px;margin:6px 8px;min-width:140px;text-align:center;box-sizing:border-box;\">✅ APROBAR</a><a href=\"https://santy0218.app.n8n.cloud/webhook/aprobar?token={{ $('Generar Aprobaciones').item.json.token }}&action=reject\" style=\"display:inline-block;background:#dc2626;color:#ffffff;padding:12px 24px;text-decoration:none;border-radius:8px;font-weight:bold;font-size:15px;margin:6px 8px;min-width:140px;text-align:center;box-sizing:border-box;\">❌ RECHAZAR</a></div></div>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "id": "9f4dbb27-4244-4dee-8636-a3afc8f29028",
      "name": "Outlook al Aprobador",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        3120,
        208
      ],
      "webhookId": "2531e5ea-4ba2-4fdd-8759-378ffec22bc6",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YmDSU0jXM1pnujOp",
          "name": "Microsoft Outlook OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Localizar ZIP": {
      "main": [
        [
          {
            "node": "Extraer ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer ZIP": {
      "main": [
        [
          {
            "node": "Separar PDF/XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar PDF/XML": {
      "main": [
        [
          {
            "node": "Parsear XML DIAN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear XML DIAN": {
      "main": [
        [
          {
            "node": "Subir PDF a Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir PDF a Storage": {
      "main": [
        [
          {
            "node": "Buscar Proveedor + Reglas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Factura": {
      "main": [
        [
          {
            "node": "Generar Aprobaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Aprobaciones": {
      "main": [
        [
          {
            "node": "Insertar Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Approval": {
      "main": [
        [
          {
            "node": "Outlook al Aprobador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Factura": {
      "main": [
        [
          {
            "node": "Insertar Factura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Aprobar": {
      "main": [
        [
          {
            "node": "Obtener Aprobación (Web)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Aprobación (Web)": {
      "main": [
        [
          {
            "node": "¿Sigue pendiente? (Web)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Sigue pendiente? (Web)": {
      "main": [
        [
          {
            "node": "PATCH Aprobación (Web)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Ya Procesada (Web)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Aprobación (Web)": {
      "main": [
        [
          {
            "node": "Respond OK (Web)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK (Web)": {
      "main": [
        [
          {
            "node": "Disparar PDF Final (Web)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Proveedor + Reglas": {
      "main": [
        [
          {
            "node": "Normalizar Proveedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Proveedor": {
      "main": [
        [
          {
            "node": "Preparar Factura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlook Trigger": {
      "main": [
        [
          {
            "node": "Descargar Email con Adjuntos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Email con Adjuntos1": {
      "main": [
        [
          {
            "node": "Localizar ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timezone": "America/Bogota",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true
  },
  "versionId": "1e6e841d-a245-4683-89a3-61ace95aea71",
  "meta": {
    "instanceId": "a87f75b955412dbdaf9a6524f9a10e09454926fc840602db93bd8291c62b3c8b"
  },
  "id": "imXDWax3LvL4iXC6",
  "tags": []
}